html .theme-rtl,
body .theme-rtl {
  font-family: var(--font-vazirmatn), 'B Yekan', 'B Nazanin', sans-serif !important;
  direction: rtl;
}

.gulzar-font {
  font-family: var(--font-gulzar), var(--font-vazirmatn), sans-serif !important;
}

.line-range::after {
  right: 0;
}
